button {
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 50px;
}

h3 {
  position: absolute;
  font-size: 30px;
  margin-top: -375px;
  margin-left: 38%;
  color: white;
}

.croupier-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
  color: white;
}

.croupier-container h2 {
  text-align: center;
  margin-top: 90px;
}

.croupier-container h3 {
  position: absolute;
  font-size: 30px;
  margin-left: 0px;
  margin-top: 220px;
}

.joueur-container {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  color: white;
}

.joueur-container h2 {
  text-align: center;
  margin-top: 90px;
}

.card {
  margin: 0 5px;
}

#bouton-commencer {
  width: 25%;
  height: 200px;
  font-size: 50px;
  margin-top: 18%;
  margin-left: 38%;
}
#bouton-tirer {
  display: none;
  position: absolute;
  font-size: 30px;
  margin-top: 320px;
  margin-left: 38%;
}

#bouton-rester {
  display: none;
  position: absolute;
  font-size: 30px;
  margin-top: 320px;
  margin-left: 50%;
}

#bouton-recommencer {
  display: none;
  position: absolute;
  font-size: 30px;
  margin-top: 350px;
  margin-left: 40%;
}

.joueur-points {
  position: absolute;
  font-size: 30px;
  font-weight: bold;
  margin-top: 675px;
  margin-left: 46%;
  color: white;
}

body {
  background-image: url(images/background.jpg);
  background-size: auto;
}
