.croupier-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.croupier-container h2 {
  text-align: center;
  margin-top: 90px;
}

.joueur-container {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.joueur-container h2 {
  text-align: center;
  margin-top: 90px;
}

.card {
  margin: 0 5px;
}
